.classify {
  background-color: #ffffff;
  display: flex;
  padding: 12px 0;
  .item-classify {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 23px;
    .icon-item {
      width: 52px;
      height: 52px;
      img{
        width: 36px;
        height: 36px;
      }
      &:hover{
        background-color: #FECC00;
      }
      border-radius: 50%;
      background-color: #F4F4F4;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      margin: 8px -15px 0;
      color: #222;
      text-align: center;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      overflow-wrap: break-word;
      font-family: Helvetica, Arial, sans-serif;
    }
  }

}