.list-1{
  display: block;
  .item{
    display: flex;
    img{
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
    .infomation{
      width: 100%;
      margin-left: 10px;
    }
    padding: 12px;
    min-height: 124px;
    overflow: hidden;
    background-color: #fff;
    margin: 1px 0;
    border-bottom: 1px solid #cacaca7d;
    position: relative;
    .stick-head{
      position: absolute;
      top: -6px;
      right: -30px;
      font-size: 14px;
      transform: rotate(45deg);
      height: 40px;
      display: block;
      padding: 0 30px;
      line-height: 4;
      text-transform: uppercase;
      font-weight: 700;
      background-color: rgb(245, 154, 0);
      border-color: rgb(245, 154, 0);
      color: rgb(255, 255, 255);
    }
    &:hover{
      box-shadow: 0 1px 8px 0 rgba(0,0,0,.3);
      z-index: 1;
      cursor: pointer;
    }
    h3{
      font-size: 15px;
      line-height: 1.33;
      font-weight: 500;
    }
    p{
      font-size: 14px;
      line-height: 1.43;
      color: #9b9b9b;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 98%;
      display: block;
      height: 20px;
      padding-top: 4px;
    }
    strong{
      color: #c90927;
      font-size: 15px;
      font-weight: 700;
      line-height: 1.33;
      padding-top: 8px;
      display: block;
    }
    .detail{
      display: flex;
      justify-content: space-between;
      margin-top: 33px;
      p{
        font-size: 12px;
        margin: 0 8px;
      }
      .left{
        display: flex;
        .brand{
          display: flex;
          align-items: center;
          img{
            width: 15px;
            height: 15px;
            object-fit: cover;
          }
        }
        .sticky{
          display: flex;
          align-items: center;
          img{
            width: 12px;
            height: 16px;
            object-fit: cover;
          }
        }
        p{

        }
      }
      .img{
        width: 16px;
        height: 16px;
      }
    }
  }
}
@media only screen and (max-width: 739px){
  .item{
    .infomation{
      width: 72%;
      .detail{
        margin-top: 14px;
        .place{
          display: none;
        }
      }
    }
  }
}