@import "../../base/base";
//Components
@import "../../components/header/header";
@import "../../components/footer/footer";
@import "../../components/list";
@import "../../components/gird";
@import "../../components/pages";
@import "../../components/classify_categories";
@import "../../components/modal";
@import "../../components/breadcrum";
@import "../../components/categories_top";
@import "../../components/fillter";
@import "../../components/recommend_top";
@import "../../components/container";
@import "../../components/button_swiper";
@import "../../components/description";
@import "../../components/seo_key";
.container-1 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 936px;
  .swiper-wrapper {
    .swiper-slide {
      margin: 10px 8px;
      .item {
        margin-right: 2px;
        cursor: pointer;
        & + .item {
          margin-left: 5px;
        }
        position: relative;
        border: 1px solid #9b9b9b;
        border-radius: 3px;
        padding: 3px 10px;
        .badge {
          position: absolute;
          width: 15px;
          height: 15px;
          display: flex;
          border-radius: 50%;
          padding: 3px;
          justify-content: center;
          align-items: center;
          color: #fff;
          background-color: #fc9807;
          top: -8px;
          left: -8px;
          font-size: 12px;
        }
        &.bg {
          background: #f4f4f4;
          border-color: #f4f4f4;
        }
      }
    }
  }

}
.categories {
  width: 936px;
  overflow: scroll;
}
.recommend-list {
  margin-top: 12px;
  background: #F4F4F4;
}
.hidden {
  display: none !important;
}
.flex {
  display: flex !important;
}
.list-show {
  display: block;
}
.item-classify {
  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    vertical-align: middle;
  }
}
@media only screen and (max-width: 739px) {
}