@import "../../base/reset";
@import "../../base/base";
@import "../../components/header/header";
//Components
@import "../../components/header/header";
@import "../../components/footer/footer";


.container {
  width: 100%;
  max-width: 970px;
  .block1{
    display: flex;
    .left {
     height: 452px;
      width: 312px;
      margin-top: 12px;
      background: #fff;
      position: sticky;
      top: 0;
      z-index: 2;
      .avatar{
        width: 88px;
        height: 88px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        border: 2px solid #fff;
        box-sizing: content-box;
        margin: -46px auto 12px 12px;
        background-color: #eee;

        img{
          width: 88px;
          height: 88px;
        }
      }
      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
      }
      .conten {
        padding: 0 12px;
        .btn {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-bottom: 20px;
          img {
            width: 32px;
            height: 32px;
            object-fit: cover;
          }
          button {
            margin-left: 12px;
            width: 100px;
            height: 32px;
            float: right;
            background-color: #fe9900;
            line-height: 30px;
            text-align: center;
            letter-spacing: normal;
            color: #fff;
            cursor: pointer;
            box-sizing: border-box;
            outline: none;
            border: none;
            border-radius: 20px;
          }
        }
        h2 {
          font-size: 18px;
          font-weight: 700;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          color: #000;
          display: block;
          margin: auto;
          margin-block-start: 0;
          margin-block-end: 0;
          line-height: 22px;
        }
        .statistica {
          display: flex;
          margin-top: 16px;
          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px 0;
            p {
              font-size: 12px;
              text-align: center;
            }
            h2 {
              font-size: 18px;
              color: #589f39;
              font-weight: 700;
              padding: 0 8px;
            }
          }
        }
        .phone {
          display: flex;
          justify-content: space-between;
          background-color: #33A837;
          width: 100%;
          height: 42px;
          /* text-align: center; */
          align-items: center;
          color: white;
          margin-bottom: 12px;
          cursor: pointer;
          &:hover {
            background-color: #3B8122;
          }
          span {
            padding: 16px;
          }
          img {
            height: 24px;
            width: 24px;
            vertical-align: middle;
          }
        }
      }
    }
    h2{
      font-size: 16px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: #000;
      margin: auto auto 12px;
      padding: 0;
      display: block;
    }
    strong{
      font-size: 15px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #d0021b;
    }
    .right {
      width: 624px;
     margin-left: 12px;
      ul {
        background-color: #ffffff;
        display: flex;
        position: sticky;
        z-index: 10;
        top: 0;
        li {
          margin: 0 16px;
          &:first-child{
            a{
              color: #000;
              font-weight: 700;
            }
          }
          a {
            line-height: 40px;
            margin: auto 16px;
            font-size: 14px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            cursor: pointer;
            text-transform: uppercase;
          }
        }
      }
      .infomation {
        padding: 12px;
        background: #fff;
        margin-top: 12px;
        h2 {
          font-size: 16px;
          font-weight: 700;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: normal;
          color: #000;
          margin: auto auto 12px;
          padding: 0;
          display: block;
        }
        .side{
          display: flex;
          .left-side {
            width: 50%;
            .adress{
              display: flex;
              align-items: center;
              img{
                width: 20px;
                height: 20px;
                margin-right: 12px;
                object-fit:contain;
              }
              p{
                color: #9b9b9b;
                a{
                  color: #38699f;
                }

              }
            }
            iframe{
              height: 96px;
              background: #eee;
              margin-top: 8px;
              width: 250px;
              margin-left: 5%;
            }
          }
          .right-side{
            .item{
              display: flex;
              margin-bottom: 12px;
              img{
                width: 18px;
                height: 18px;
                margin-right: 12px;
              }
              p{
                font-weight: 400;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
                letter-spacing: normal;
                color: #9b9b9b;
                b{
                  color: #000;
                  margin-left: 4px;
                  font-weight: 400;
                  font-family: Helvetica;
                }
                a{
                  color: #2d65a0;
                }
                span{
                  img{
                    margin:0 0 0 4px;
                    vertical-align: middle;
                  }
                }
              }
            }
          }
        }

      }
      .about{
        background: #ffffff;
        margin-top: 12px;
        padding: 12px;
        h2{
          font-size: 16px;
          font-weight: 700;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: normal;
          color: #000;
          margin: auto auto 12px;
          padding: 0;
          display: block;
        }
        p{
          font-weight: 400;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          color: #000;
          overflow: hidden;
          position: relative;
          cursor: pointer;
        }
      }
      .news{
        padding: 12px;
        background: #fff;
        margin-top: 12px;
        .list{
          display: flex;
          .item{
            width: 136px;
            float: left;
            margin-right: 20px;
            position: relative;
            background-color: #ffffff;
            &:hover{
              cursor: pointer;
            }
            img{
              width: 136px;
              height: 136px;
            }
            p{
              font-size: 15px;
              font-weight: 400;
              font-stretch: normal;
              font-style: normal;
              letter-spacing: normal;
              color: #000;
              --lh: 1.33em;
              line-height: 1.33;
              --max-lines: 3;
              height: calc(var(--lh)*var(--max-lines) - 4px);
              overflow: hidden;
            }

          }
        }
      }
      .all-news{
        padding: 12px;
        background: #fff;
        margin-top: 12px;
        .list{
          .item{
            border-top: 1px solid #f4f4f4;
            padding: 12px;
            margin: auto -12px;
            border-bottom: 1px solid #f4f4f4;
            position: relative;
            overflow: hidden;
            display: flex;
            &:hover{
              cursor: pointer;
            }
            img{
              width: 128px;
              height: 96px;
              object-fit: cover;
            }
            .text{
              margin-left: 12px;
              width: 100%;
              p{
                font-size: 15px;
                font-weight: 400;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
                letter-spacing: normal;
                color: #000;
                margin-bottom: 8px;
                height: 19px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              strong{

              }
              .icon{
                padding-top: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                  img{
                    width: 20px;
                    height: 20px;
                    margin-right: 6px;
                  }
                  small{
                    font-size: 12px;
                    font-weight: 400;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.45;
                    letter-spacing: normal;
                    color: #9b9b9b;
                  }
                }
                img{
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
      }
      .see-more{
        background-color: #ffffff;
        text-align: center;
        color: #337ab7;
        padding-bottom: 10px;
        img{
          width: 9px;
          height: 16px;
          vertical-align: middle;
        }
      }
    }
  }

  }
@media only screen and (max-width: 739px) {
  .container{
    padding: 0;
    width: 100%;
    .block1{
      flex-direction: column;
    .left{
      width: 100%;
      height:393px;
      .conten{
        padding: 0;
        .btn{
          margin-left: 12px;
          margin-right: 12px;
          margin-top: 12px;
        }
        h2{
          margin: 0 12px;
        }
        .statistica{
          border-top: 1px solid #f4f4f4;
          border-bottom: 1px solid #f4f4f4;
          height: 84px;
          .item{
            min-width: 33.3%;
            p{
              font-size: 12px;
              color: #9b9b9b;
              max-width: 96px;
              margin: auto;
              padding: 0 12px;

            }
            &:nth-child(2){
              border-left: 1px solid #f4f4f4;
              border-right: 1px solid #f4f4f4;
            }
          }
        }
        .phone{
          display: none;
        }
      }
    }
      .right{
        width: 100%;
        white-space: nowrap;
        margin: 0;
        ul{
          padding: 0 12px;
          overflow-x: scroll;
          position:unset;
          ::-webkit-scrollbar {
            width: 2px;
          }
          li{
            &:first-child{
              margin-left: 0;
              a{
                color: #000;
                font-weight: 700;
              }
            }
            a{
              margin: 0;
            }
          }
        }
        .infomation{
          width: 100%;
          .side{
            flex-direction: column;
            .left-side{
              width: 100%;
              .adress{
                white-space: normal;
              }
              iframe{
                border: 0;
                width: 307px;
                margin-bottom: 12px
              }
            }
          }
        }
        .about{
          white-space: normal;
        }
        .news{
          overflow-x: scroll;
        }
        .all-news{
          width: 100%;
          white-space: normal;
          .list{
            .item{
              width: 100%;
            }
          }
        }
      }
    }
  }
}