.block1{
  background: #ffffff;
  padding: 12px 12px 4px;
  .head-title{
    font-size: 17px;
    margin: 0 0 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #222222;
  }
  .categories{
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    text-align: center;
    .item{
      width: 135px;
      height: 140px;
      img{
        width: 84px;
        height: 84px;
      }
      p{
        margin-top: 8px;
      }
    }
  }
}