.sub-banner{
  margin:0 auto;
  display: flex;
  max-width: 960px;
  padding-bottom: 12px;
  padding-left: 40px;
  .item{
    display: flex;
    align-items: center;
    width: 203.478px;
    img{
      width: 36px;
      height: 36px;
    }
    span{
      margin-left: 8px;
    }
  }
}
@media only screen and (max-width: 739px) {
.sub-banner{
  padding-left: 0;
  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }
}
}